# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
.env
venv/

# pip logs
pip-log.txt

# PyInstaller
*.manifest
*.spec

# VSCode
.vscode/

# macOS
.DS_Store
